{# queryResult \Webgriffe\SyliusElasticsearchPlugin\Model\QueryResultInterface #}
{# filter \Webgriffe\SyliusElasticsearchPlugin\Model\FilterInterface #}

<div class="ui fluid vertical menu">
    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.all('_route_params')) }}"
       class="ui button">
        Reset filters
    </a>

    {% for filter in queryResult.filters %}
        <h3>{{ filter.name }}</h3>
        <ul>
            {% for option in filter.values %}
                <li>
                    {% set path = path(
                        app.request.attributes.get('_route'),
                        app.request.attributes.all('_route_params')|merge(app.request.query.all)|merge({(filter.queryStringKey): option.value}),
                    ) %}
                    <a class="item" href="{{ path }}">{{ option.value }} ({{ option.count }})</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
