{# queryResult \Webgriffe\SyliusElasticsearchPlugin\Model\QueryResultInterface #}
{# filter \Webgriffe\SyliusElasticsearchPlugin\Model\FilterInterface #}
{# filterValue \Webgriffe\SyliusElasticsearchPlugin\Model\FilterValueInterface #}

{% set currentAppliedFilters = app.request.query.all('filters') %}

<div class="ui fluid vertical menu">
    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.all('_route_params')) }}"
       class="ui button">
        {{ 'webgriffe_sylius_elasticsearch_plugin.ui.reset_filters'|trans }}
    </a>

    {% for filter in queryResult.filters %}
        <div {{ sylius_test_html_attribute('filter-name', filter.name) }} style="margin: 10px auto;">
            <h3>{{ filter.name }}</h3>
            <ul>
                {% for filterValue in filter.values %}
                    {% set isCurrentOptionValueUsedAsFilter = filterValue|is_filter_active(filter, currentAppliedFilters) %}

                    <li>
                        {% set path = path(
                            app.request.attributes.get('_route'),
                            app.request.attributes.all('_route_params')|merge({
                                'filters': merge_filter_value_with_current_active_filters(filterValue, filter, currentAppliedFilters),
                            }),
                        ) %}
                        <a class="item {% if isCurrentOptionValueUsedAsFilter %}disabled{% endif %}"
                           href="{{ path }}"
                            {{ sylius_test_html_attribute('filter-value', filterValue.label) }}>
                            {{ filterValue.label }} ({{ filterValue.occurrences }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
